{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    #email bav-admin@unicef.org
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}
api.{$DOMAIN} {
    reverse_proxy webserver:8181
}
{$DOMAIN} {
    reverse_proxy bavfront_webserver:8080
}
#www.{$DOMAIN} {
#    redir https://{$DOMAIN}{uri}
#}